# macOS
.DS_Store

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Android
**/.gradle/
**/android/.gradle/
**/android/local.properties/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/.last_build_id/

# Python
**/__pycache__/
**/*.pyc
**/venv/
**/.venv/
**/.env
